html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: $background; // Fallback for when there is no custom background color defined.
	font-size: 16px;
	line-height: 1.929;
}

.site {
	min-height: calc(100vh - 130px);

	/* these coincide with height of .site-footer__spacer */
	@media (min-width:600px) {
		min-height: calc(100vh - 110px);
	}

	@media (min-width:900px) {
		min-height: calc(100vh - 80px);
	}

	&.has_thumbnail {
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
}

.site-header {
	position: relative;
	padding-top: 0;

	&.admin-bar{
		padding-top: 46px;

		@media screen and (min-width: 783px) {
			padding-top: 32px;
		}
	}
}

.site-title {
	margin-top: 0;
}
.site-description {
	display: none;
}

.site-main {
	padding-bottom: 3em;
	max-width: 63em;
	padding: 0 0 160px;
	margin: 0 auto;

	/* these align with height of .site-footer__spacer */
	@media (min-width:600px) {
		padding-bottom: 140px;
	}

	@media (min-width:900px) {
		padding: 0 0 110px;
	}

	.home & {
		max-width: 100%;
	}

	.blog &,
	.archive & {
		max-width: 75em;
		padding: 5rem 2.5rem 2.5rem;

		@media (min-width:900px) {
			padding-top: 13.5rem;
		}
	}
}

.thirty-five-em {
	width: 100%;
	max-width: 35rem;
	margin: 0 auto !important;
}

/** FRONT PAGE - SERVICES LIST **/
.home-services-list {
	position: relative;
	width: 100%;
	max-width: 280px;
	margin: 0 auto;

	@media (min-width:600px) {
		max-width: 100%;
	}

	.wp-block-columns {
		display: block;
		text-align: center;
		margin-bottom: 3em;
		@include clearfix();

		@media (min-width:600px) {
			text-align: left;
		}

		@media (min-width:1080px) {
			&.half {
				position: relative;
				width: 47%;

				&:not(:first-child) {
					margin-top: -5em;
				}

				&.right {
					left: 52%;
				}
			}
		}
	}

	.wp-block-column {
		display: block;

		@media (min-width:600px) {
			display: inline-block;

			&:first-child {
				max-width: 193px;
				float: left;
			}
		}

		.wp-block-image,
		.wp-block-image.is-resized {
			display: inline-block;
			margin: 0;
		}
	}

	.home-service-list-desc,
	&.is-vertically-aligned-top,
	&.is-vertically-aligned-center,
	&.is-vertically-aligned-bottom {
		padding-top: .5rem;
		width: 100%;

		@media (min-width:600px) {
			padding-top: 70px;
			width: calc(100% - 225px);
		}

		p {
			margin-bottom: .75rem;
		}

		h3,
		p:last-child {
			margin-bottom: 0;
		}
	}
}
