html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: $background; // Fallback for when there is no custom background color defined.
	font-size: 14px;
	line-height: 1.929;
}

.site {
	min-height: calc(100vh - 130px);

	/* these coincide with height of .site-footer__spacer */
	@media (min-width:600px) {
		min-height: calc(100vh - 110px);
	}

	@media (min-width:900px) {
		min-height: calc(100vh - 80px);
	}
}

.site-header {
	position: relative;
	padding-top: 0;

	&.admin-bar{
		padding-top: 46px;

		@media screen and (min-width: 783px) {
			padding-top: 32px;
		}
	}
}

.site-title {
	margin-top: 0;
}
.site-description {
	display: none;
}

.site-main {
	padding-bottom: 3em;
	max-width: 63em;
	padding: 0 16px 160px;
	margin: 0 auto;

	/* these align with height of .site-footer__spacer */
	@media (min-width:600px) {
		padding-bottom: 140px;
	}

	@media (min-width:900px) {
		padding: 0 80px 110px;
	}

	.blog &,
	.archive & {
		max-width: 75em;
	}
}
