html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: $background; // Fallback for when there is no custom background color defined.
	font-size: 14px;
	line-height: 1.929;
}

.site {
	min-height: 100%;
}

.site-header {
	position: relative;
	padding-top: 0;

	&.admin-bar{
		padding-top: 46px;

		@media screen and (min-width: 783px) {
			padding-top: 32px;
		}
	}
}

.site-title {
	margin-top: 0;
}
.site-description {
	display: none;
}

.site-main {
	padding-bottom: 3em;
	max-width: 63em;
	padding: 0 80px;
	margin: 0 auto;
}
