.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	.widget-title {
		font-size: 2.25rem;
		line-height: normal;
		margin-bottom: 1.5rem;
	}

	&.widget_recent_entries {
		.subhead {
			color: $yellow;
			font-size: 1em;
			letter-spacing: 6px;
			text-transform: uppercase;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		.entry-title {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.widget-area {
	padding-top: 6em;
	margin: 0 40px;

	@media screen and (min-width: 900px) {
		margin: 0;
	}
}
