.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	.subtitle {
		color: $yellow;
		font-size: 1em;
		letter-spacing: 6px;
		text-transform: uppercase;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.widget-area {
	padding-top: 6em;
}
