$background: #15232a;
$background-highlight: #384f5b;
$background-screen: #f1f1f1;
$background-hr: #ccc;
$background-button: #e6e6e6;
$background-pre: #eee;
$background-ins: #fff9c0;

$text-screen: #21759b;
$text-input: #666;
$text-input-focus: #111;
$color__link: #f7bf3b; //yellow
$color__link-visited: #f7bf3b;
$color__link-hover: #dba62a;
$text-main: #ffffff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
