/* Navigation
--------------------------------------------- */
@import "navigation/navigation";

/* Posts and pages
--------------------------------------------- */
@import "content/posts-and-pages";

/* Comments
--------------------------------------------- */
@import "comments/comments";

/* Header
--------------------------------------------- */
@import "header";

/* Footer
--------------------------------------------- */
@import "footer";

/* Widgets
--------------------------------------------- */
@import "widgets/widgets";

/* Media
--------------------------------------------- */
@import "media/media";

/* Captions
--------------------------------------------- */
@import "media/captions";

/* Galleries
--------------------------------------------- */
@import "media/galleries";
