.mark {
	margin: 20px 23px 0;
	width: 34px;
	height: 40px;

	@media (max-width: 899px) {
		margin: 8px 23px;

		.site-header.menu-is-open & {
			-webkit-transition: -webkit-transform .2s cubic-bezier(.165,.84,.44,1);
			transition: -webkit-transform .2s cubic-bezier(.165,.84,.44,1);
			transition: transform .2s cubic-bezier(.165,.84,.44,1);
			transition: transform .2s cubic-bezier(.165,.84,.44,1),-webkit-transform .2s cubic-bezier(.165,.84,.44,1);
			-webkit-transform: translateX(33px);
			transform: translateX(33px);
		}
	}
}
.mark--link {
	display: block;
}
/*
.mark--animate {
	@media (max-width: 899px) {
		-webkit-transform: translateX(50vw);
		transform: translateX(50vw);
		margin: 0 0 0 -17px;
	}
}
*/

.site-header {
	position: fixed;
	z-index: 2;
	padding: 0;
	width: 100%;
	height: 56px;
	background-color: rgba(21,35,41,.4);
	box-shadow: 0 3px 15px 0 rgba(0,0,0,.19999999999999996);

	@media (min-width: 900px) {
		position: absolute;
		background-color: transparent;
		box-shadow: none;
		padding: 0;
		height: 80px;
	}
}
