.site-main {
	padding-top: 5em;

	@media (min-width: 900px) {
		padding-top: 10em;
	}

	/** PAGE/POST COLUMN MODIFIERS **/
	.narrow {
		max-width: 40.25em;
		margin: 0 auto;
	}
}

.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
	position: relative;
	z-index: 1;
}

.updated:not(.published) {
	display: none;
}

.entry-header	{
	padding-top: 1.5em;

	.single & {
		padding-top: 0;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 60px 40px 0;

	@media (min-width: 900px) {
		margin: 80px 80px 0;
	}

	.home & {
		margin: 80px 0 0;
	}

	h2 {
		font-size: 1.714em;
		margin: 0.25em 0 1.5em;
	}
	h3 {
		font-size: 1.5em;
		margin: 0.25em 0 1.5em;
	}
	h4, h5, h6 {
		font-size: 1em;
	}
	h4 {
		text-transform: uppercase;
	}
	h6 {
		font-style: italic;
	}

	.summary {
		position: relative;
		font-size: 1.125rem;
		text-align: center;
		font-style: italic;
		line-height: 1.5;
		max-width: 43rem;
		margin: 0 auto;
		padding: 0 4rem;

		&:before,
		&:after {
			font-size: 108px;
			color: $yellow;
			position: absolute;
			top: -2.5rem;
		}

		&:before {
			content: '{';
			left: .5rem;
		}

		&:after {
			content: '}';
			right: .5rem;
		}
	}

	.callout {
		color: $yellow;
	}

	.notice-me {
		background-color: $yellow;
		color: $background;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		padding: .75rem 1.875rem;
	}

	.hush {
		color: #3e5460;
		font-style: italic;
	}

	.invite {
		color: $yellow;
		font-size: 1.75rem;
		font-style: italic;
		letter-spacing: 1.5px;
	}

	.person {
		font-size: 1.5rem;
		line-height: 1;

		.name {
			text-transform: uppercase;
			font-weight: bold;
		}

		.job-title {
			font-weight: normal;
			font-style: italic;
		}

		.contact {
			display: inline-block;
			padding-top: 1.5rem;
		}
	}
}

.blog .page-title {
	padding-top: .3896em;
}

.subtitle {
	.blog .page-header &,
	.page-content &,
	.entry-content &,
	.entry-summary & {
		font-size: 1.143em;
		letter-spacing: 1.81px;
		text-transform: uppercase;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
	}

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* POSTS */
// POST-ARCHIVE
.blog {
	.page-header {
		position: relative;
		z-index: 1;
	}
}

.articles-wrapper {

	@media screen and (min-width: 600px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		align-items: stretch;
	}


	.post {
		background: $background-highlight;
		width: 100%;
		margin-bottom: 2.5em;
		@include clearfix();

		&:hover {
			background-color: $background-highlight-hover;
		}

		@media screen and (min-width: 600px) {
			width: 45.5%;
		}

		@media screen and (min-width: 900px) {
			width: 30%;
		}

		@media screen and (min-width: 1200px) {
			width: 23%;
		}

		a {
			text-decoration: none;
		}

		.content {
			position: relative;
			padding: 1.5em 1.786em 1.786em;
			height: 100%;

			.entry-header {
				padding-top: 0;
			}
		}

		&.has-post-thumbnail {

			@media screen and (min-width: 600px) {
				width: 100%;
			}

			@media screen and (min-width: 900px) {
				width: 65%;
			}

			@media screen and (min-width: 1200px) {
				width: 48.6667%;
			}

			.content {
				width: auto;

				@media screen and (min-width: 600px) {
					width: 50%;
					height: 100%;
					float: left;
				}
			}
		}

		.entry-title {
			margin-bottom: 46px;
		}

		.thumbnail {
			display: block;
			width: 100%;
			height: 15em;

			@media screen and (min-width: 600px) {
				width: 50%;
				float: right;
				height: 100%;
				background-size: cover;
			}
		}
	}

	.byline,
	.posted-on,
	.cat-links,
	.tags-links {
		display: block;
		color: rgba(255,255,255,0.7);
		opacity: .7;
		font-size: .85714em;
		line-height: 1.5;

		a {
			color: rgba(255,255,255,0.7);
			opacity: inherit;
			text-decoration: none;

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: underline;
			}
		}
	}

	.author {
		font-weight: bold;
	}

	.posted-on {
		padding-bottom: 1.2em;
	}

	.cats-tags {
		padding-bottom: .25em;
	}

	.clickthrough {
		position: absolute;
		bottom: 2.0833em;
		margin-bottom: 0;
		font-size: .85714em;
		text-transform: uppercase;
		letter-spacing: 4.5px;
	}
}

// SINGLE and INDIV POSTS on ARCHIVE
.entry-title {
	color: #ffffff;
	letter-spacing: normal;
	line-height: 1.25;
}

h1.entry-title {
	font-size: 5em;
}

.single .post-main {
	background: $background;
	padding: 2.142em 0;

	.entry-header {
		margin: 0 40px;
	}

	.entry-meta {
		color: rgba(255, 255, 255, 0.7);
		position: relative;

		a {
			color: rgba(255, 255, 255, 0.7);
			text-decoration: none;

			&:hover,
			&:focus {
				color: $color__link;
				text-decoration: underline;
			}
		}

		.byline {
			padding-right: 1em;

			.author {
				font-weight: bold;
			}
		}
	}

	.who-when {
		display: inline-block;
	}
	.cats-tags {
		display: inline-block;
		float: right;
	}
}

/* PAGES */
.page-title {
	font-size: 5.5em;
	line-height: 1.04;
}

/* HOME PAGE */
.home-hero-wrapper .social {
	margin-top: 9em;
}

.home-logo {
	width: 100%;
	max-width: 414px;
	margin: 0 auto;
	padding: 0 44px;

	@media screen and (min-width: 600px) {
		padding: 0;
	}
}

.home-services-list-wrapper {
	background-image: url('_assets/images/home-services-bkg.png');
	background-size: cover;

	&.slant__content--gutter {
		padding: 4rem 24px;
	}

	.home-services-list {
		max-width: 69rem;
	}
}

#lets-work-together {
	background-color: #384f5b;
	padding: 7em 0 140px;
	margin-bottom: -140px;
}

/** LARGE THUMBNAIL IMAGE **/
.large-post-thumbnail-wrapper {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	left: 0;
	height: 40.375rem;
	background-size: cover;
	background-position:	center center;
	// angled bottom line
	clip-path: polygon(0 0, 100% 0, 100% 500px, 0% 100%);

	.home & {
		height: 44rem;
		clip-path: none;
	}

	.mask {
		width: 100%;
		height: 100%;
		background-color: #243741;
		opacity: 0.8;

		.home & {
			opacity: 0;
		}
	}
}

/** SLANT **/
.slant {
	background-color: #152329;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	overflow: hidden;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.6);
	position: relative;
	z-index: 1;
	// margin-top: -5vw;
	// margin-bottom: -5vw;
}
.slant__content {
	-webkit-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 600px;

	@media (min-width: 600px) {
		height: 800px;
	}

}
.slant__content--center,
.slant__content--quotes {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.slant__content--quotes {
	height: 700px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	@media (min-width: 600px) {
		height: 900px;
	}

}
.slant__content--gutter {
	padding:0 24px;
}
@supports ((-webkit-clip-path:polygon(0 0,0 0,0 0,0 0)) or (clip-path:polygon(0 0,0 0,0 0,0 0))) {
	.slant {
		margin-top: -50px;
		margin-bottom: -50px;
		filter: url('data:image/svg+xml;
		charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="30" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.6)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
		-webkit-filter: drop-shadow(0 0 30px rgba(0,0,0,.6));
		filter: drop-shadow(0 0 30px rgba(0,0,0,.6));
		box-shadow: none;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		overflow: visible;
		background-color: transparent;

		@media (min-width: 600px) {
			margin-top: -67px;
			margin-bottom: -67px;
		}
		@media (min-width: 900px) {
			margin-top: -100px;
			margin-bottom: -100px;
		}
	}
	.slant__content {
		-webkit-transform: none;
		transform: none;
		max-height: none;
		height: 700px;
		overflow: hidden;
		-webkit-clip-path: polygon(0 50px,0 650px,100vw 700px,100vw 0,0 50px);
		clip-path: polygon(0 50px,0 650px,100vw 700px,100vw 0,0 50px);
		background-color: #152329;

		@media (min-width: 600px) {
			height: 900px;
			-webkit-clip-path: polygon(0 67px,0 833px,100vw 900px,100vw 0,0 67px);
			clip-path: polygon(0 67px,0 833px,100vw 900px,100vw 0,0 67px);
			max-height: none;
		}

		@media (min-width:900px) {
			height: 900px;
			-webkit-clip-path: polygon(0 100px,0 800px,100vw 900px,100vw 0,0 100px);
			clip-path: polygon(0 100px,0 800px,100vw 900px,100vw 0,0 100px);
			max-height: none;
		}
	}
}
.slant__buzz {
	position: absolute;
	top: -5vw;
	bottom: -5vw;
	width: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	pointer-events: none;
	color: rgba(0,0,0,.15000000000000002);
	font-size: 175px;
	font-weight: 700;
	font-style: italic;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	@media (min-width: 600px) {
		font-size: 250px;
	}

	@media (min-width: 900px) {
		font-size: 275px;
	}

	@media (min-width: 1200px) {
		font-size: 300px;
	}
}
.slant__buzz-word {
width:100%;
}
.slant__buzz-word:nth-child(1) {
-webkit-transform:translateX(-100px);
transform:translateX(-100px);
}
@media (min-width:1200px) {
	.slant__buzz-word:nth-child(1) {
	-webkit-transform:none;
	transform:none;
	padding-left:3vw;
	}
}
.slant__buzz-word:nth-child(2) {
-webkit-transform:translateX(100px);
transform:translateX(100px);
text-align:right;
margin-top:-75px;
}
@media (min-width:1200px) {
	.slant__buzz-word:nth-child(2) {
	-webkit-transform:translateX(50px);
	transform:translateX(50px);
	margin-top:-150px;
	margin-bottom:-125px;
	}
}
.slant__buzz-word:nth-child(3) {
-webkit-transform:translateX(10px);
transform:translateX(10px);
text-align:right;
}
@media (min-width:1200px) {
	.slant__buzz-word:nth-child(3) {
	-webkit-transform:none;
	transform:none;
	padding-right:10vw;
	}
}

/** FORMIDABLE OVERRIDE **/
.with_frm_style {
	--fieldset-bg-color: transparent !important;
}
