.site-main {
	@media (min-width: 900px) {
		padding-top: 80px;
	}
}

.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* POSTS */
// POST-ARCHIVE
.articles-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: stretch;

	.post {
		background: $background-highlight;
		width: 24%;

		.content {
			padding: 1.5em 1.786em 1.786em;
		}

		&.has-post-thumbnail {
			width: 48%;

			.content {
				width: 50%;
				float: left;
			}
		}

		.thumbnail {
			display: block;
			width: 50%;
			height: 100%;
			float: right;
			background-size: cover;
		}
	}

	.byline,
	.posted-on,
	.cat-links,
	.tags-links {
		display: block;
		color: rgba(255,255,255,0.7);
		opacity: .7;
		font-size: .85714em;
		line-height: 1.25;

		a {
			color: rgba(255,255,255,0.7);
			opacity: inherit;
			text-decoration: none;

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: underline;
			}
		}
	}

	.vcard {
		font-weight: bold;
	}

	.cats-tags {
		padding-top: 1.2em;
	}

	.clickthrough {
		text-transform: uppercase;
		letter-spacing: 4.5px;
	}
}

// SINGLE and INDIV POSTS on ARCHIVE
.entry-title {
	color: #ffffff;
	letter-spacing: normal;
	line-height: 1.25;
}

h1.entry-title {
	font-size: 5em;
}

h2.entry-title {
	font-size: 1.5em;
	margin: 0.25em 0 1.5em;
}

.single .post-main {
	background: $background;
	padding: 2.142em 5em;
}

/* PAGES */
.page-title {
	font-size: 5.5em;
	line-height: 1.04;
}
