.main-navigation {
	display: inline-block;
	width: auto;
	position: absolute;
	top: 56px;
	right: 0;
	padding-right: 0;

	@media screen and (min-width: 600px) {
		top: 14.5px;
	}

	@media screen and (min-width: 900px) {
		top: 32px;
		right: 2.14em;
	}

	&.toggled {
		animation: nav-down cubic-bezier(.165,.84,.44,1) .15s;
		background-color: rgba(21,35,41,.6);

		@media screen and (min-width: 600px) {
			animation: nav-out cubic-bezier(.165,.84,.44,1) .15s;
			padding-right: 58px;
			background-color: transparent;
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

/* Currently unnecessary
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
*/
	}

	li {
		display: block;
		position: relative;
		padding: .625rem;

		@media screen and (min-width: 600px) {
			padding: 0 .625rem;
			display: inline-block;
		}

		&:hover > a,
		&.focus > a {
		}

	}

	a {
		display: block;
		text-decoration: none;
		padding: 0 .714rem;
		color: #fff;
		font-size: .85714em;
		text-transform: uppercase;

		&:hover,
		&:focus {
			color: $color__link-hover;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__link;
	}
}

@keyframes nav-down {
	0% {
		opacity: 0;
		-webkit-transform:translateY(-100vw);
		transform:translateY(-100vw);
	}
	to {
		opacity: 1;
		-webkit-transform:translateY(0);
		transform:translateY(0);
	}
}

@keyframes nav-out {
	0% {
		opacity: 0;
		-webkit-transform:translateX(100vw);
		transform:translateX(100vw);
	}
	to {
		opacity: 1;
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
}

/* Small menu. */
.site-nav__btn,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 900px) {

	.main-navigation ul {
		display: flex;
	}
}

/** MOBILE NAV **/
button.site-nav__btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 58px;
	padding: 0 1em;
	background-color: transparent;
	border: none;
	border-radius: 0;
	-webkit-transition: opacity .3s cubic-bezier(.165,.84,.44,1);
	transition: opacity .3s cubic-bezier(.165,.84,.44,1);
	z-index: 10;

	&:hover,
	&:focus {
		cursor: pointer;
	}

	@media screen and (min-width: 900px) {
		display: none;
	}

	svg {
		// pointer-events: none;
		color: #d8d8d8;
	}
}

/** OTHER NAVIGATION ELEMENTS **/
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
